@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

.dark-mode {
  background: #221e17;
  color: #b8ad9f;
}

body {
  margin: 80px 0; }

.heading:after {
  content: "";
  display: block;
  clear: both; }

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
.scores-container {
  display: grid; /* Use CSS Grid */
  float: right;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 10px; /* Space between columns */
  width: calc(100% - 120px); /* Adjust width based on your layout */
}
.score-container, .best-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 0px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  text-align: center; }
  .score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30%;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.score-container:after {
  content: "Score"; }

.best-container:after {
  content: "Best"; }

.restart-button, .apply-button, .undo-button, .ok-button, .cancel-button {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  text-align: center; }

.apply-button {
  float: none; }

.button-container {
  display: flex;
  justify-content: center; }

.ok-button, .cancel-button {
  float: none; }

.restart-button, .undo-button { 
  text-transform: uppercase; }


.settings-button {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #f9f6f2;
  font-size: 50px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  float: left; }

.half-transparency {
    opacity: 0.5; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

#timeText {
  float: right;
}

#sizeXtext, #sizeYtext {
  font-size: 25px;
  white-space: nowrap;
  text-align: right;
}

.container {
  width: 500px;
  margin: 0 auto; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.game-container {
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #bbada0;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      color: #776e65;
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #f9f6f2;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message.game-won {
      background: rgba(237, 194, 46, 0.5);
      color: #f9f6f2; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {}
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  pointer-events: auto;
  float: left;
  background: rgba(238, 228, 218, 0.35); }
  .grid-cell:last-child {
    margin-right: 0; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile {
  pointer-events: auto;
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .tile-inner {
    border-radius: 3px;
    background: #eee4da;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 55px; }
  .tile.tile--2 .tile-inner {
    color: #776e65;
    background: #d9e3ee; }
  .tile.tile--4 .tile-inner {
    color: #776e65;
    background: #b1c8e0; }
  .tile.tile--8 .tile-inner {
    color: #f9f6f2;
    background: #78b9f2; }
  .tile.tile--16 .tile-inner {
    color: #f9f6f2;
    background: #198edd; }
  .tile.tile--32 .tile-inner {
    color: #f9f6f2;
    background: #2374e4; }
  .tile.tile--64 .tile-inner {
    color: #f9f6f2;
    background: #1d22e2; }
  .tile.tile--128 .tile-inner {
    color: #f9f6f2;
    background: #4f27db;
    box-shadow: 0 0 30px 10px rgba(79, 39, 219, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
  .tile.tile--256 .tile-inner {
    color: #f9f6f2;
    background: #441ec9;
    box-shadow: 0 0 30px 10px rgba(68, 30, 201, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
  .tile.tile--512 .tile-inner {
    color: #f9f6f2;
    background: #3a18b3;
    box-shadow: 0 0 30px 10px rgba(58, 24, 179, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
  .tile.tile--1024 .tile-inner {
    color: #f9f6f2;
    background: #4a18b3;
    box-shadow: 0 0 30px 10px rgba(74, 24, 179, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
  .tile.tile--2048 .tile-inner {
    color: #f9f6f2;
    background: #5b18a0;
    box-shadow: 0 0 30px 10px rgba(91, 24, 160, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
  .tile.tile--4096 .tile-inner {
    color: #f9f6f2;
    background: #8218c4;
    box-shadow: 0 0 30px 10px rgba(130, 24, 196, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
  .tile.tile--8192 .tile-inner {
    color: #f9f6f2;
    background: #ab1ed6;
    box-shadow: 0 0 30px 10px rgba(171, 30, 214, 0.65), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
  .tile.tile--16384 .tile-inner {
    color: #f9f6f2;
    background: #ed1adf;
    box-shadow: 0 0 30px 10px rgba(237, 26, 223, 0.7), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
  .tile.tile--32768 .tile-inner {
    color: #f9f6f2;
    background: #f00ea8;
    box-shadow: 0 0 30px 10px rgba(240, 14, 168, 0.75), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
  .tile.tile--65536 .tile-inner {
    color: #f9f6f2;
    background: #f5077a;
    box-shadow: 0 0 30px 10px rgba(245, 7, 122, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
  .tile.tile-0 .tile-inner {
    color: #f9f6f2;
    background: #504b44; }
  .tile.tile-1 .tile-inner {
    color: #776e65;
    background: #f5f2e7; }
  .tile.tile-2 .tile-inner {
    color: #776e65;
    background: #eee4da; }
  .tile.tile-4 .tile-inner {
    color: #776e65;
    background: #ede0c8; }
  .tile.tile-8 .tile-inner {
    color: #f9f6f2;
    background: #f2b179; }
  .tile.tile-16 .tile-inner {
    color: #f9f6f2;
    background: #f59563; }
  .tile.tile-32 .tile-inner {
    color: #f9f6f2;
    background: #f67c5f; }
  .tile.tile-64 .tile-inner {
    color: #f9f6f2;
    background: #f65e3b; }
  .tile.tile-128 .tile-inner {
    color: #f9f6f2;
    background: #edcf72;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
  .tile.tile-256 .tile-inner {
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);  }
  .tile.tile-512 .tile-inner {
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381); }
  .tile.tile-1024 .tile-inner {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571); }
  .tile.tile-2048 .tile-inner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333); }
  .tile.tile-4096 .tile-inner {
    color: #f9f6f2;
    background: #2eed72;
    box-shadow: 0 0 30px 10px rgba(46, 237, 114, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.38); }
  .tile.tile-8192 .tile-inner {
    color: #f9f6f2;
    background: #2ef547;
    box-shadow: 0 0 30px 10px rgba(46, 245, 80, 0.65), inset 0 0 0 1px rgba(255, 255, 255, 0.45); }
  .tile.tile-16384 .tile-inner {
    color: #f9f6f2;
    background: #22ff27;
    box-shadow: 0 0 30px 10px rgba(34, 255, 39, 0.7), inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
  .tile.tile-32768 .tile-inner {
    color: #f9f6f2;
    background: #20f7c0;
    box-shadow: 0 0 30px 10px rgba(32, 247, 220, 0.75), inset 0 0 0 1px rgba(255, 255, 255, 0.58); }
  .tile.tile-65536 .tile-inner {
    color: #f9f6f2;
    background: #20f7f0;
    box-shadow: 0 0 30px 10px rgba(32, 247, 240, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.66); }
  .tile.tile-super .tile-inner {
    color: #f9f6f2;
    background: #3c3a32; }
  .tile.tile-sub   .tile-inner {
    color: #f9f6f2;
    background: #303c4a; }
  .tile.tile-special-unmergable .tile-inner {
    font-size: 0px;
    background: #404040; }
  .tile.tile-special-immovable .tile-inner {
    font-size: 5px;
    background: #806040; }

.top-tile .tile-inner {
  width: 400px;
  height: 400px;
}




@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.above-game:after {
  content: "";
  display: block;
  clear: both; }

.game-intro {
  float: left;
  margin-top: 20px;
  line-height: 20px;
  margin-bottom: 0; }


.game-explanation {
  margin-top: 50px; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#settings-dialog-box {
  width: 500px;
}

.dialog-box {
  background: #eee4da;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.dialog-box input {
  padding: 8px;
  width: 80%;
  margin-bottom: 15px;
}



input[type="text"], input[type="number"] {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 30px;
  line-height: 42px;
  cursor: pointer;
  font: inherit;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-weight: bold;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  input[type="text"], input[type="number"] {
    cursor: auto;
    background: #fcfbf9;
    font-weight: normal;
    color: #776e65;
    padding: 0 15px; }
    input[type="text"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder {
      color: #9d948c; }
    input[type="text"]::-moz-placeholder, input[type="number"]::-moz-placeholder {
      color: #9d948c; }
    input[type="text"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder {
      color: #9d948c; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px; }

.switch input { 
  opacity: 0;
  width: 0;
  height: 0; }

.switchslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbada0;
  border-radius: 34px;
  -webkit-transition: .2s;
  transition: .2s; }

.switchslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s; }

input:checked + .switchslider {
  background-color: #8f7a66; }

input:checked + .switchslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

#width-input, #height-input {
  width: 90px;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px; }

/*
@media screen and (max-width: 520px) {
  html, body {
    font-size: 15px; }

  body {
    margin: 20px 0;
    padding: 0 20px; }

  h1.title {
    font-size: 27px;
    margin-top: 15px; }

  .container {
    width: 280px;
    margin: 0 auto; }

  .score-container, .best-container {
    margin-top: 0;
    padding: 15px 10px;
    min-width: 40px; }

  .heading {
    margin-bottom: 10px; }

  .game-intro {
    width: 55%;
    display: block;
    box-sizing: border-box;
    line-height: 1.65; }

  .restart-button {
    width: 42%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    margin-top: 2px; }

  .game-container {
    margin-top: 17px;
    position: relative;
    padding: 10px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #bbada0;
    border-radius: 6px;
    width: 280px;
    height: 280px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .game-container .game-message {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(238, 228, 218, 0.5);
      z-index: 100;
      text-align: center;
      -webkit-animation: fade-in 800ms ease 1200ms;
      -moz-animation: fade-in 800ms ease 1200ms;
      animation: fade-in 800ms ease 1200ms;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      animation-fill-mode: both; }
      .game-container .game-message p {
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin-top: 222px; }
      .game-container .game-message .lower {
        display: block;
        margin-top: 59px; }
      .game-container .game-message a {
        display: inline-block;
        background: #8f7a66;
        border-radius: 3px;
        padding: 0 20px;
        text-decoration: none;
        color: #f9f6f2;
        height: 40px;
        line-height: 42px;
        margin-left: 9px; }
        .game-container .game-message a.keep-playing-button {
          display: none; }
      .game-container .game-message.game-won {
        background: rgba(237, 194, 46, 0.5);
        color: #f9f6f2; }
        .game-container .game-message.game-won a.keep-playing-button {
          display: inline-block; }
      .game-container .game-message.game-won, .game-container .game-message.game-over {
        display: block; }

  .grid-container {
    position: absolute;
    z-index: 1; }

  .grid-row {
    margin-bottom: 10px; }
    .grid-row:last-child {
      margin-bottom: 0; }
    .grid-row:after {
      content: "";
      display: block;
      clear: both; }

  .grid-cell {
    width: 57.5px;
    height: 57.5px;
    margin-right: 10px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35); }
    .grid-cell:last-child {
      margin-right: 0; }

  .tile-container {
    position: absolute;
    z-index: 2; }

  .tile, .tile .tile-inner {
    width: 58px;
    height: 58px;
    line-height: 67.5px; }
  .tile.tile-position-1-1 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  .tile.tile-position-1-2 {
    -webkit-transform: translate(0px, 67px);
    -moz-transform: translate(0px, 67px);
    transform: translate(0px, 67px); }
  .tile.tile-position-1-3 {
    -webkit-transform: translate(0px, 135px);
    -moz-transform: translate(0px, 135px);
    transform: translate(0px, 135px); }
  .tile.tile-position-1-4 {
    -webkit-transform: translate(0px, 202px);
    -moz-transform: translate(0px, 202px);
    transform: translate(0px, 202px); }
  .tile.tile-position-2-1 {
    -webkit-transform: translate(67px, 0px);
    -moz-transform: translate(67px, 0px);
    transform: translate(67px, 0px); }
  .tile.tile-position-2-2 {
    -webkit-transform: translate(67px, 67px);
    -moz-transform: translate(67px, 67px);
    transform: translate(67px, 67px); }
  .tile.tile-position-2-3 {
    -webkit-transform: translate(67px, 135px);
    -moz-transform: translate(67px, 135px);
    transform: translate(67px, 135px); }
  .tile.tile-position-2-4 {
    -webkit-transform: translate(67px, 202px);
    -moz-transform: translate(67px, 202px);
    transform: translate(67px, 202px); }
  .tile.tile-position-3-1 {
    -webkit-transform: translate(135px, 0px);
    -moz-transform: translate(135px, 0px);
    transform: translate(135px, 0px); }
  .tile.tile-position-3-2 {
    -webkit-transform: translate(135px, 67px);
    -moz-transform: translate(135px, 67px);
    transform: translate(135px, 67px); }
  .tile.tile-position-3-3 {
    -webkit-transform: translate(135px, 135px);
    -moz-transform: translate(135px, 135px);
    transform: translate(135px, 135px); }
  .tile.tile-position-3-4 {
    -webkit-transform: translate(135px, 202px);
    -moz-transform: translate(135px, 202px);
    transform: translate(135px, 202px); }
  .tile.tile-position-4-1 {
    -webkit-transform: translate(202px, 0px);
    -moz-transform: translate(202px, 0px);
    transform: translate(202px, 0px); }
  .tile.tile-position-4-2 {
    -webkit-transform: translate(202px, 67px);
    -moz-transform: translate(202px, 67px);
    transform: translate(202px, 67px); }
  .tile.tile-position-4-3 {
    -webkit-transform: translate(202px, 135px);
    -moz-transform: translate(202px, 135px);
    transform: translate(202px, 135px); }
  .tile.tile-position-4-4 {
    -webkit-transform: translate(202px, 202px);
    -moz-transform: translate(202px, 202px);
    transform: translate(202px, 202px); }

  .tile .tile-inner {
    font-size: 35px; }

  .game-message p {
    font-size: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-top: 90px !important; }
  .game-message .lower {
    margin-top: 30px !important; } }
*/
