@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

body {
  margin: 80px 0; }

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  display: block; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 700px;
  margin: 0 auto; }


.list-cell:hover::after {
  content: attr(hover-text);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50px);
  background: #776e65c0;
  color: #f9f6f2;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 16px;
  box-shadow: 0 0 5px #776e6580;
  display: none; }

.list-cell:hover[hover-text]:not([hover-text=""])::after {
  display: block; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.game-container {
  margin-top: 40px;
  position: relative;
  padding: 15px;
  background: #bbada0;
  border-radius: 6px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid-container {
  z-index: 1; }

.list-cell {
  color: #776e65;
  background: #eee4da;
  line-height: 15px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 15px; }
  .list-cell:last-child {
    margin-bottom: 0; }
  .list-cell:after {
    content: "";
    display: block;
    clear: both; }

.list-cell {
  width: 100%;
  height: 50px;
  margin-right: 15px;
  border-radius: 3px; }

.tile-container {
  position: absolute;
  z-index: 2; }


.list-cell.tile-0 {
  color: #f9f6f2;
  background: #504b44; }
.list-cell.tile-1 {
  color: #776e65;
  background: #f5f2e7; }
.list-cell.tile-2 {
  color: #776e65;
  background: #eee4da; }
.list-cell.tile-4 {
  color: #776e65;
  background: #ede0c8; }
.list-cell.tile-8 {
  color: #f9f6f2;
  background: #f2b179; }
.list-cell.tile-16 {
  color: #f9f6f2;
  background: #f59563; }
.list-cell.tile-32 {
  color: #f9f6f2;
  background: #f67c5f; }
.list-cell.tile-64 {
  color: #f9f6f2;
  background: #f65e3b; }
.list-cell.tile-128 {
  color: #f9f6f2;
  background: #edcf72;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
.list-cell.tile-256 {
  color: #f9f6f2;
  background: #edcc61;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048); }
.list-cell.tile-512  {
  color: #f9f6f2;
  background: #edc850;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381); }
.list-cell.tile-1024  {
  color: #f9f6f2;
  background: #edc53f;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571); }
.list-cell.tile-2048 {
  color: #f9f6f2;
  background: #edc22e;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333); }
.list-cell.tile-4096 {
  color: #f9f6f2;
  background: #2eed72;
  box-shadow: 0 0 30px 10px rgba(46, 237, 114, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.38); }
.list-cell.tile-8192 {
  color: #f9f6f2;
  background: #2ef547;
  box-shadow: 0 0 30px 10px rgba(46, 245, 80, 0.65), inset 0 0 0 1px rgba(255, 255, 255, 0.45); }
.list-cell.tile-16384 {
  color: #f9f6f2;
  background: #22ff27;
  box-shadow: 0 0 30px 10px rgba(34, 255, 39, 0.7), inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
.list-cell.tile-32768 {
  color: #f9f6f2;
  background: #20f7c0;
  box-shadow: 0 0 30px 10px rgba(32, 247, 220, 0.75), inset 0 0 0 1px rgba(255, 255, 255, 0.58); }
.list-cell.tile-65536 {
  color: #f9f6f2;
  background: #20f7f0;
  box-shadow: 0 0 30px 10px rgba(32, 247, 240, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.66); }
.list-cell.tile-super {
  color: #f9f6f2;
  background: #3c3a32; }

.above-game:after {
  content: "";
  display: block;
  clear: both; }

.game-intro {
  line-height: 42px;
  text-align: center;
  margin-bottom: 0; }

.game-explanation {
  margin-top: 50px; }
